
extends layout.pug

block content
  h2 By Phone
  p
    span Call or text me at 
    a(href=`tel:${contact.phone}`) #{fn.phone(contact.phone)}
    span .

  h2 By Email
  p
    span Email me directly at 
    a(href=`mailto:${contact.email}`) #{contact.email}
    span .

  h2 Or Scan
  img(src=contact.qr)
  
