
extends layout.pug

block content
  
  h2 Bio
  img.profile(src=details.image)
  p #{details.about}

  h2 Services
  ul
    each service in details.services
      li
        h4 #{service.title}
        small.text-muted $#{service.rate} / hour
        p #{service.description}